<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
	</configSections>

	<connectionStrings>
		<add name="OVDbContext" connectionString="data source=localhost;Integrated Security=SSPI;initial catalog=OVDb;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
	</connectionStrings>
		
	
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
</configuration>